// bower:scss
// endbower

body {
  background: #fafafa;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
}

h1 , h2 , h3 , h4 , h5 , h6  {
  font-family: 'Fjalla One', sans-serif;

}

footer {
  background-color: gray;
  color: white;
  height: auto;
  font-size: 1.8em;
  font-weight: bold;
  padding: 1em 0 0.8em;
  vertical-align: middle;
  a {
    position: relative;
    vertical-align: bottom;
  }
}

.hero-unit {
  margin: 50px auto 0 auto;
  width: 300px;
  font-size: 18px;
  font-weight: 200;
  line-height: 30px;
  background-color: #eee;
  border-radius: 6px;
  padding: 60px;
  h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
  }
}

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
