// bower:scss
// endbower
article {
  box-sizing: border-box;
  display: inline-block;
  padding: 10px;
  width: 80%;
}

body {
  background: #ffffff;
  color: #000;
  margin: 0;
  text-align: center;
}

footer {
  background-color: gray;
  color: white;
  height: auto;
  font-size: 1.8em;
  font-weight: bold;
  padding: 1em 0 0.8em;
  vertical-align: middle;
  a {
    position: relative;
    vertical-align: bottom;
  }
}

h1 , h2 , h3 , h4 , h5 , h6  {
  font-family: 'Suez One', serif;
}

li:hover a {
  color: #df531c;
}

li:hover span {
  background: #fff;
}

li:hover span:before {
  content: "X";
  font-family: 'Permanent Marker', cursive;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  position: relative;
  left: 4px;
  color: #3d3e4e;
  font-size: 1em;
}

nav {
    display: none;
    position: fixed;
    top: 20%;
    padding: 10px;
    &.desplegado {
      display: block;
      position: inherit;
      background-color: #b5b9a4;
    }
    ul {
      list-style: none;
      text-align: center;
      margin: 0;
      padding: 0;
    } 
      li {
        margin: 0;
        padding: 15px;
        border-bottom: 1px solid #ffffff;
      }
        a {
          color: #fff;
          font-family: 'Suez One', serif;
          text-decoration: none;    
        }
          span {
            display: none;
          }       
}


section {
  margin: 0 auto;
  //display: -ms-flex;
  //display: -webkit-flex;
  //display: flex;
}

p {
  font-family: 'Scope One', serif;
  text-align: left;
}

@keyframes animatedBackground {
  from { background-position: 0 99%; }
  to { background-position: 99px 99%; }
}

section#inicio {
  background-image: 
  url(../images/wave_pattern.svg);
  background-position:bottom;
  background-repeat: repeat-x;
  background-size: 100px 100px;
  animation: animatedBackground 2s linear infinite;
  width: 100%;
  height:100vh;

    header {
      margin: 0 auto;
    }
    h2 {
      color: #3d3c4e;
      font-size: 1.2em;
      text-align: left;
      padding:10px;
    }
    p {
      padding: 0 15px;
    }
}

strong {
  font-weight: normal;
}

.fondo {
  background-color: rgba(214,216,182,0.3);
}

.hashtag {
  text-align: left;
}

.logo {
    margin: 0 auto;
    margin-top: 25px;
    padding: 0;
    width: 100%;
}

.logo2 {
  display: block;
  margin: 0 auto;                
  width: 140px;
}

.bajar {
  background: #c1c3c7;
  border-radius: 50%;
  display: block;
  height: 18px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 5px;
  width: 18px;
}

.boton {
  width: 19%;
}

.botones {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 50px;
  line-height: 78px;
  margin-bottom: 20px;
  width: 50px;
}

.cta {
    float: right;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    width: 100%;
}

.holder {
    float: right;
    width: 20%;
    margin-top: 10px;
}

a.boton {
  color: #3d3e4e;
  text-decoration: none;
}

.datos {
  display: none;
    h4 {
      margin: 5px;
    }
    h5 {
      font-family: 'Scope One', serif; 
      margin-top: 5px;
    }
}

.manito {
  background: #fd8c02;
  margin-top: 20px;
  transition: 0.1s all ease-in-out;
  overflow: hidden;
  iframe {
    display: none;
  }
  &.activo {
    border-radius:25px;
    padding-left:20px;
    padding-right:20px;
    width: 210px;
    iframe {
      display: inline-block;
      margin-top: 16px;
      vertical-align: top;
    }
  }
}
.icono img {
  max-width: 150px;
}

.escritor {
  background-image: url( http://placehold.it/80x80 );
  background-size: 100% 100%;
  border-radius: 50%;
  display: block;
  height: 50px;
  margin: 0 auto;
  width: 50px;
}
#fernando {
    background-image: url(../images/escritores/fernando.jpg );
}

.boton.invisible #fernando {
    background-image: url(../images/escritores/fernando_s.jpg );
}


#stephany {
    background-image: url(../images/escritores/stephany.jpg );
}

.boton.invisible #stephany {
    background-image: url(../images/escritores/stephany_s.jpg );
}

#angelica {
    background-image: url(../images/escritores/angelica.jpg );
}

.boton.invisible #angelica {
  background-image: url(../images/escritores/angelica_s.jpg );
}
#miguel {
    background-image: url(../images/escritores/miguel.jpg );
}

.boton.invisible #miguel {
  background-image: url(../images/escritores/miguel_s.jpg );
}


.hamburger {
  background: #b5b9a4;
  position: absolute;
  top: 10px;
  right: 3%;
  border-radius: 15%;
  cursor: pointer;
  display: inline-block;
  height: 30px;
  line-height: 38px;
  width: 30px;
  img {
    width: 20px;
  }
}

#ocho {
  top: -10px;
}

@media only screen and (min-width: 768px) {
  
  section {
    min-height: 600px;
  }

  header {
    padding-left: 20%;
    p {
      font-size: 1.1em;
    }
  }

  nav {
    display: none;
    margin-left: -17px;
    font-size: 0.9em;
    ul {
      list-style: none;
      text-align: left;
      margin: 0;
    } 
      li {
        margin: 0;
        padding: 10px;
        border-bottom: 0;
      }
        a {
          color: #c1c3c7;
          font-family: 'Suez One', serif;
          text-decoration: none;
          margin-bottom: 10em;    
        }
          span {
            background: #c1c3c7;
            margin-top: 20px;
            border-radius: 50%;
            display: inline-block;
            height: 20px;
            width: 20px;
            margin: 0.4em;
          }
  }
  .descripcion {
    min-height:600px;
  }
  article {
    width: 50%;
    margin: 0 auto;
    p div {
      display: inline;
    }
  }
  .cta {
    width: 250px;
    .datos {
      display: block;
    }
  }
  .holder {
  width: 250px;
  }
  .icono img {
    padding-left: 30px;
  }
  .escritor {
    height: 90px;
    width: 90px;
  }
  .bajar {
    display: none;
  }
  .menu {
    display: none;
  }
}

@media only screen and (min-width: 1024px) {
  img.logo {
    max-width: 80%;
  }
  article#historia1 {
    margin-top: 12%;
  }
  nav {
    display: block;}
}

@media only screen and (min-width: 1280px) {
  nav {
    margin-left: -12px;
    font-size: 1.1em;
  }
}