// bower:scss
// endbower

body {
  background: #ffffff;
  font-family: 'Inconsolata', monospace;
  color: #000;
  margin: 0;
}

h1 , h2 , h3 , h4 , h5 , h6  {
  font-family: 'Fjalla One', sans-serif;

}

h1 {
  font-size: 1.8em;
  line-height: 1;
  margin-bottom: 1em;
}

h5 {
  margin: 5px;
  vertical-align: middle;
}

nav {
    margin-left: -25px;
    position: fixed;
    top: 20%;
    ul {
      list-style: none;
    }
}

section {
  max-width: 1280px;
  margin: 0 auto;
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;
}

article {
  width: 80%;
  margin: 0 auto;
  padding: 10px;
}
footer {
  background-color: gray;
  color: white;
  height: auto;
  font-size: 1.8em;
  font-weight: bold;
  padding: 1em 0 0.8em;
  vertical-align: middle;
  a {
    position: relative;
    vertical-align: bottom;
  }
}

section#inicio {
  background-color: #d6d8b6;
}

.boton {
  width: 19%;


}
.persona {
  background-image: url( http://placehold.it/90x90 );
  background-size: 100% 100%;
  border-radius: 50%;
  display: block;
  -moz-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -o-filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  -webkit-filter: grayscale(100%);
  filter: gray;
  filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale");
  height: 90px;
  width: 90px;
}

.persona:hover {
  background-color: #fd8c02;
  background-image: url( http://placehold.it/90x90?text=OVER );
  -moz-filter: none;
  -o-filter: none;
  -webkit-filter: none;
  filter: none;
  filter: none;
}



